/* This style is use for manager area section */
.btn-brown {
	background-color: #ac2226;
	color: #fff;
	display: block;
	text-decoration: none;
	box-shadow: none;
}

.btn-brown:hover {
	background-color: #fff;
	color: #ac2226;
}

#fep-footer {
    display: none;
}

#manager-sidebar ul{
	margin: 0;
	padding: 0;
    list-style-type: none;
}

#manager-sidebar ul li {
    color: #fff;
    margin: 5px 0; 
}

#manager-sidebar ul li a {
    background-color: #ac2226;
    color: #fff;
    display: block;
    padding: 10px;
    text-decoration: none;
    text-transform: capitalize;
}

.sidebar .manager-menu .widget-title {
	margin-top: 0;
}

ul.client-listing {
    margin: 0;
}

.client-delete .badge {
    background-color: transparent;
    color: #777;
    cursor: pointer;
    font-size: 15px;
}

.edit-client .form-inline .form-control {
    display: block;
    width: 100%;
    vertical-align: middle;
}

.padding-right-0 {
    padding-right: 0;
}

.edit-client{
	display: none;
	padding: 10px 0;
}

.list-group.client-listing a.client-edit {
    cursor: pointer;
}

/* Pagination */
.pagination {
    clear:both;
    position:relative;
    font-size:11px; /* Pagination text size */
    line-height:13px;
    float:right; /* Pagination float direction */
}
 
.pagination span, .pagination a {
    display:block;
    float:left;
    margin: 2px 2px 2px 0;
    padding:6px 9px 5px 9px;
    text-decoration:none;
    width:auto;
    color:#fff; /* Pagination text color */
    background: #ac2226; /* Pagination non-active background color */
    -webkit-transition: background .15s ease-in-out;
    -moz-transition: background .15s ease-in-out;
    -ms-transition: background .15s ease-in-out;
    -o-transition: background .15s ease-in-out;
    transition: background .15s ease-in-out;
}
 
.pagination a:hover{
    color:#fff;
    background: #848688; /* Pagination background on hover */
}
 
.pagination .current{
    padding:6px 9px 5px 9px;
    background: #848688; /* Current page background */
    color:#fff;
}

.manager-add-roster{
	margin-bottom: 30px;
}

#manager-roster-list {
    margin-bottom: 10px;
}

.roster-meta span {
    font-weight: bold;
}

.roster-meta {
    display: inline-block;
    margin: 10px 10px 0 0;
}

/* manager user listing */
.user-listing {
    border: 1px solid #555;
    padding: 15px;
    background-color: #ac2226;
    color: #fff;
    margin-bottom: 15px;
}
.user-listing a{
    color: #fff;
}

.user-listing-title h2 {
    font-size: 20px;
    margin: 10px 0;
}

.manager-dashboard-button {
    margin-top: 20px;
}

.manager-timesheet-listing-wrapper ul.timesheet-list {
    margin: 0;
}
/* ====================================== manager Timesheet listing ================================= */


/* Large desktops and laptops */
@media (min-width: 1200px) {

}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

}

@media (max-width: 640px) {
	.padding-right-0 {
		padding-right: 15px;
	}

}

/* Landscape phones and smaller */
@media (max-width: 480px) {

}
@media (max-width: 320px) {
    
}