/* second-style.css */
/* ==============================================================
							General
=================================================================*/
a:visited,
a {
	color: #ab2226;
}
a:focus, 
a:hover {
	color: #222;
}
body{
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	line-height: 20px;
	color: #666664;
}
body{
	background-image: url(../img/pattern-background.png);
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Montserrat', sans-serif;
}
#box-layout {
    margin: 30px;
	position: relative;
	background: #fff;
	box-shadow: 0 0 5px rgba(0,0,0,0.12);
}
.corner-top-left {
    top: 5px;
    left: 5px;
    background: linear-gradient(-45deg, transparent 50%, rgba(0, 0, 0, 0.12) 50%);
}

.corner-top-right, 
.corner-top-left, 
.corner-bottom-left, 
.corner-bottom-right {
    position: absolute;
    width: 14px;
    height: 14px;
}

.corner-top-left::after {
    top: 5px;
    left: 5px;
}

.corner-top-right::after, .corner-top-left::after {
    position: absolute;
    content: "";
    background: #fff;
    height: 5px;
    width: 5px;
}

.corner-top-right {
    top: 5px;
    right: 5px;
    background: linear-gradient(45deg, transparent 50%, rgba(0, 0, 0, 0.12) 50%);
}

.corner-top-right, .corner-top-left {
    position: absolute;
    width: 14px;
    height: 14px;
}

.corner-top-right::after {
    top: 5px;
    right: 5px;
}

.corner-top-right::after, 
.corner-top-left::after,
.corner-bottom-left::after,
.corner-bottom-right::after {
    position: absolute;
    content: "";
    background: #fff;
    height: 5px;
    width: 5px;
}

.corner-bottom-left {
    bottom: 5px;
    left: 5px;
    background: linear-gradient(-135deg, transparent 50%, rgba(0, 0, 0, 0.12) 50%);
}

.corner-bottom-left::after {
    bottom: 5px;
    left: 5px;
}

.corner-bottom-right {
    bottom: 5px;
    right: 5px;
    background: linear-gradient(135deg, transparent 50%, rgba(0, 0, 0, 0.12) 50%);
}

.corner-bottom-right::after {
    bottom: 5px;
    right: 5px;
}

.corner-top-right::after, 
.corner-top-left::after, 
.corner-bottom-right::after, 
.corner-bottom-left::after {
    position: absolute;
    content: "";
    background: #fff;
    height: 5px;
    width: 5px;
}

.site-main {
    margin-bottom: 40px;
}
input[type="text"], 
input[type="email"], 
input[type="url"], 
input[type="password"], 
input[type="search"], 
input[type="number"], 
input[type="tel"], 
input[type="range"], 
input[type="date"], 
input[type="month"], 
input[type="week"], 
input[type="time"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="color"], 
textarea {
    color: #666;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 6px 12px;
}
/* ============================== Sidebar ============================== */
.sidebar .widget-title {
    color: #403f3d;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    padding-bottom: 10px;
}
.sidebar .widget {
    margin-bottom: 30px;
}

/* ============================== Breadcrumbs ============================== */
.breadcrumbs {
    padding: 10px 0;
}
.breadcrumbs a {
    font-size: 13px;
    font-weight: bold;
}
.breadcrumbs .current {
    font-size: 13px;
    color: #999996;
    line-height: 20px;
}
.breadcrumbs span.separator {
    color: #999996;
    padding: 0 5px;
}
.breadcrumbs {
    padding: 10px 0;
    background-color: none; 
    border-bottom: none; 
    margin-bottom: 30px;
    font-size: 13px; 
    border-top: none; 
}
.entry-header .entry-title {
    text-transform: uppercase;
    font-size: 30px;
    margin: 10px 0;
}
/* ==============================================================
							Header
=================================================================*/
.logo-bar {
    padding: 20px 0 10px 0;
}
.social-links {
    text-align: right;
    padding: 40px 0 0 0;
}
.so-links {
    display: inline-block;
    padding: 0 10px;
}
.main-logo {
    text-align: center;
}
.logo-image {
    display: inline-block;
    margin: 0 auto;
}
.phone-number {
    padding: 25px 0;
}
.so-links a {
    font-size: 18px;
    color: #848688;
}
.so-links a:hover{
    color: #ac2226;
}

.header-phone-number {
	font-size: 13px;
	font-weight: bold;
	color: #ac2226;
	line-height: 20px;
}
.header-phone-below-text {
	color: #999996;
	font-size: 13px;
	line-height: 20px;
}

.header-divider {
    height: 1px;
    background: #dcdcdc;
}

/* Menu Css */
.navbar-default .navbar-nav>.open>a, 
.navbar-default .navbar-nav>.open>a:focus, 
.navbar-default .navbar-nav>.open>a:hover {
    color: #555;
    background-color: transparent;
}

.navbar {
    min-height: 50px;
    margin-bottom: 0px;
}
.navbar-default {
    background: none;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.navbar-collapse{
	padding: 0;
}
.menu-container {
    text-align: center;
}

.menu-container .navbar .menu-item a {
    font-weight: 600;
    text-transform: uppercase;
    background-image: none !important;
    background-repeat: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    color: #ac2226;
    background-color: #fff;
    padding: 15px 20px;
}
.custom-btn {
    background-color: #ab2226;
    color: #fff !important;
    border-radius: 0;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 25px;
}
.custom-btn {
    box-shadow: 0 0 0 2px #ab2226;
    border: 1px solid #999996;
}
.caret {
    display: block;
    width: 0;
    height: 0;
    margin-left: 0px;
    vertical-align: middle;
    border-top: 0px dashed;
    border-top: 0px solid\9;
    border-right: 0px solid transparent;
    border-left: 0px solid transparent;
    margin: 0 auto;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
}
.caret:after {
    content: "\f107";
    margin-left: -4px;
}
.menu-login-link {
    padding: 6px 0;
    text-align: right;
}

.youtube-links.so-links {
    padding-right: 0;
}

#menu-menu-menu .menu-item:after {
    position: absolute;
    content: "";
    width: 5px;
    height: 5px;
    right: -5px;
    top: 50%;
    margin-top: -3px;
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 10;
}
#menu-menu-menu .menu-item.last:after {
    position: absolute;
    content: "";
    width: 5px;
    height: 5px;
    right: -5px;
    top: 50%;
    margin-top: -3px;
    background-color: rgba(255, 255, 255, 0.2);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 10;
}
ul.nav li.dropdown:hover ul.dropdown-menu{ 
	display: block; 
}
.dropdown-menu .menu-item a {
    padding: 3px 20px !Important;
}
#menu-menu-menu .dropdown-menu .menu-item:after{
	display: none;
}
.menu-container .navbar .dropdown-menu .menu-item a:focus, 
.menu-container .navbar .dropdown-menu .menu-item a:hover {
    color: #262626;
}
.header .navbar-default .navbar-nav > .active > a, 
.header .navbar-default .navbar-nav > .active > a:focus, 
.header .navbar-default .navbar-nav > .active > a:hover {
    color: #555;
    background-color: #fff;
}
body #shiftnav-toggle-main {
    background: #ab2226;
}
body .shiftnav.shiftnav-skin-light ul.shiftnav-menu li.menu-item.current-menu-item > .shiftnav-target, 
body .shiftnav.shiftnav-skin-light ul.shiftnav-menu > li.shiftnav-sub-accordion.current-menu-ancestor > .shiftnav-target, 
body .shiftnav.shiftnav-skin-light ul.shiftnav-menu > li.shiftnav-sub-shift.current-menu-ancestor > .shiftnav-target, 
body .shiftnav.shiftnav-skin-light ul.shiftnav-menu li.menu-item ul.sub-menu .current-menu-item .shiftnav-target {
    color: #ffffff;
    background: #ab2226;
}
.logged-in #menu-menu-menu li.last-menu.menu-item:after {
    display: none;
}
#menu-menu-menu li.last-menu.contact-menu.menu-item:after {
    display: none;
}
.logged-in #menu-menu-menu li.last-menu.contact-menu.menu-item:after {
    display: block;
}

/* ==============================================================
							Home
=================================================================*/
.home-sections {
    padding: 30px 0;
}
/* ******** Main Slider ********* */
.slider-section .soliloquy-container .soliloquy-caption {
    position: absolute;
    bottom: 50%;
    z-index: 1120;
    background: rgba(0, 0, 0, 0);
    top: 40%;
    left: 20%;
    width: auto;
    padding-bottom: 0;
}
.slider-section .soliloquy-container .soliloquy-caption-inside {
    font-size: 48px;
    line-height: 62px;
    display: block;
    color: #fff;
    text-shadow: 0 1px 1px #000;
    text-align: center;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
.slider-section .soliloquy-container .soliloquy-pager{
	display: none;
}
.slider-section .soliloquy-container .soliloquy-prev {
    background-color: rgba(0, 0, 0, 0);
}
.slider-section .soliloquy-container .soliloquy-next {
    background-color: rgba(0, 0, 0, 0);
}

/* ******** Featured section ********* */
.home-featured-title h2 {
    font-size: 18px;
    text-transform: uppercase;
    color: #ab2226;
    font-weight: 500;
    padding-bottom: 12px;
    margin-bottom: 12px;
    border-bottom: 1px solid rgba(0,0,0,0.12);
}
.home-featured-link a {
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}
.home-featured-thumb img {
    border-radius: 3px;
}
.home-featured-description {
    min-height: 150px;
}
.home-featured-description ul {
    margin-left: 10px;
}

/* Devide line */
.divide-line .icon {
    display: block;
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -55px;
    background-color: #fff;
}
.icons-divider {
    background-position: 0 -13px;
    height: 33px;
    width: 110px;
}
.icons-divider{
	background-image: url(../img/icons.png);
	background-repeat: no-repeat;
}
.panel-grid-cell>.divide-line {
    margin: 0 0 16px 0;
}
.divide-line {
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    height: 16px;
    margin: 20px 0;
    overflow: visible;
    clear: both;
}
.divider {
    margin-bottom: 15px;
}
section.divider.home-sections {
    padding: 0;
}
/* Home About Section */
.home-about-title h2 {
    margin: 5px 0;
    font-size: 18px;
    text-transform: uppercase;
    color: #ab2226;
}
.home-about-short-desc h6 {
    text-transform: uppercase;
    margin: 5px 0;
    font-size: 12px;
    font-weight: 400;
    color: #999996;
}
/*.home-about-title-section {
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0,0,0,0.12);
}*/
.home-about-full-description {
    margin: 10px 0 15px 0;
}
section.home-about-section.home-sections {
    padding-top: 10px;
}

/* Home Upcoming Section */

.home-upcoming-section {
    background: #ab2226;
    padding-bottom: 40px;
}
.home-upcoming ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.event-title-wrapper {
    padding: 10px;
    background: #fff;
}
.event-thumbnail img {
    height: 180px;
}
.event-title-wrapper .event-date {
    color: #999996;
}
.home-top-jos-title {
    padding: 0 15px;
    text-align: center;
    margin: 30px 0 25px 0;
    color: #fff;
    font-size: 24px;
    line-height: 31px;
    text-transform: uppercase;
}
.home-jobs-wrapper {
    background: #fff;
    padding: 10px 15px;
    margin-bottom: 15px;
}
.home-jobs-post-title h3 {
    font-size: 18px;
    text-transform: uppercase;
    color: #ab2226;
    font-weight: 500;
    margin-bottom: 12px;
    margin-top: 12px;
    min-height: 40px;
}
.home-jobs-post-link a {
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}
.home-jobs-post-desc {
    min-height: 145px;
}

/*  Testimonial Slider */
.home-testimonial-title h2 {
    font-size: 24px;
    line-height: 31px;
    text-align: center;
    text-transform: uppercase;
    color: #ab2226;
    margin-top: 26px;
}
.testimonial-slider {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
.testimonial-slide {
    text-align: center;
    font-size: 18px;
    background: transparent;
    /* Center slide text vertically */
}
.testimonials {
    position: relative;
    text-align: center;
    overflow: hidden;
}
.testimonials::before {
    content: "“";
    left: 0px;
}
.testimonials::after, .testimonials::before {
    font-size: 440px;
}
.testimonials::after, .testimonials::before {
    position: absolute;
    top: -10px;
    font-size: 100px;
    color: rgba(0, 0, 0, 0.12);
    font-family: "Georgia",sans-serif;
    line-height: 1;
}
.testimonials::after, .testimonials::before {
    font-size: 400px;
    top: -30px;
}
.testimonials::after {
    content: "”";
    right: 0px;
}
.testimonials blockquote {
    padding: 10px 15% 0;
    border: none;
}
.testimonial-quote p {
    font-size: 24px;
    line-height: 36px;
    color: #999996;
    font-style: italic;
}
.testimonial-author-name {
    color: #ab2226;
    line-height: 26px;
    font-style: italic;
}
.author-details {
    margin-top: 15px;
}
.testimonial-author-job-title {
    color: #666664;
    line-height: 26px;
    font-size: 18px;
    font-style: italic;
}
.swiper-pagination.testimonial-pagination{
	position: relative;
}
.swiper-container.testimonial-slider .swiper-pagination.testimonial-pagination {
    bottom: 0;
}
.swiper-container.testimonial-slider .swiper-pagination.testimonial-pagination .swiper-pagination-bullet-active {
    opacity: 1;
    background: #ab2226;
}
.swiper-container.testimonial-slider .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 0;
    background: #000;
    opacity: .2;
}

/* Blog Section */
.home-blog-post-title p {
    font-size: 16px;
    line-height: 21px;
    font-weight: 400;
    color: #ab2226;
    margin: 10px 0 0 0;
}
.home-blog-post-date p {
    color: #999996;
    font-size: 13px;
    line-height: 20px;
}
.home-blog-post-thumb img {
    height: 180px;
    border-radius: 3px;
}
.home-blog-title h2 {
    font-size: 24px;
    line-height: 31px;
    text-align: center;
    text-transform: uppercase;
    color: #ab2226;
    margin-top: 10px;
    margin-bottom: 30px;
}
.home-latest-blog-post {
    margin-bottom: 25px;
}

/* ==============================================================
							Contact Page
=================================================================*/
.contact-entry-header {
    padding: 80px 0;
    background: rgb(0, 0, 0);
    background-image: url(../img/footer-lg.jpg);
}
.contact-entry-header .entry-title {
    margin: 0;
    text-transform: uppercase;
    font-size: 48px;
    color: #fff;
}
.contact-form-btn .btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover {
    border-color: #ccc #bbb #aaa;
    box-shadow: none;
}
.contact-form-btn .custom-btn {
    box-shadow: 0 0 0 2px #ab2226;
    border: 1px solid #999996;
}
.contact-form-btn .custom-btn {
    background-color: #ab2226;
    color: #fff !important;
    border-radius: 0;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 25px;
}
textarea.wpcf7-textarea {
    width: 99%;
}
.contact-message label {
    display: block;
}

/* ==============================================================
							Other Pages
=================================================================*/
.other-entry-header {
    padding: 80px 0;
    /*background: rgb(0, 0, 0);*/
    background: url(../img/footer-lg.jpg);
}
.other-entry-header .entry-title {
    margin: 0;
    text-transform: uppercase;
    font-size: 48px;
    color: #fff;
}
.breadcrumbs-container {
    padding: 10px 0;
}
.breadcrumbs-container a {
    font-size: 13px;
    font-weight: bold;
}
.breadcrumbs-container .current {
    font-size: 13px;
    color: #999996;
    line-height: 20px;
    text-transform: capitalize;
}
.breadcrumbs-container {
    padding: 10px 0;
    background-color: #fcfcfc;
    border-bottom: 1px solid #e8e8e3;
    margin-bottom: 40px;
    font-size: 13px;
}
.breadcrumbs-container span.separator {
    color: #999996;
    padding: 0 5px;
}

.tax_list_count {
    padding: 0;
    list-style-type: none;
    margin: 0;
    margin-bottom: 20px;
}

.tax_list_count li {
    margin-bottom: 10px;
}

/* ==============================================================
                            Footer
=================================================================*/
.footer-widget-section {
    padding: 40px 0;
    text-align: center;
    background: url(../img/footer-lg.jpg);
}
.footer-widget-section .widget-title {
    margin-top: 0px;
    font-size: 18px;
    line-height: 23px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    border-bottom: 1px solid #ab2226;
    padding-bottom: 15px;
    min-height: 65px;
}
.footer-widget-section p {
    font-size: 13px;
    color: #fff;
}
.footer-copyright-bar {
    padding: 10px 0;
    background-color: #333;
    color: #fff;
    font-size: 16px;
}
.footer-widget-section a {
    color: #fff;
}
/* ==============================================================
                            Login / Registration
=================================================================*/
.login-page .widget-title {
    color: #403f3d;
    font-size: 28px;
    text-transform: uppercase;
    margin-bottom: 16px;
    padding-bottom: 10px;
    text-align: center;
}
.login-page input[type="text"], 
.login-page input[type="password"] {
    width: 100%;
    height: 50px;
    padding: 10px !important;
}
.login-page label {
    font-weight: 600 !important;
    font-size: 16px !important;
}
body .login-page input[type="submit"] {
    box-shadow: 0 0 0 2px #ab2226;
    border: 1px solid #999996;
    background-color: #ab2226;
    color: #fff !important;
    border-radius: 0;
    font-size: 14px !important;
    text-transform: uppercase;
    font-weight: bold;
    padding: 15px 25px;
    width: 100% !important;
}
body .login-page input[type="checkbox"] {
    margin-top: 1px !important;
}
body .login-page input[type="submit"]:hover,
body .login-page input[type="submit"]:active {
    box-shadow: 0 0 0 0px #ab2226;
}
.register-link-wrapper {
    margin-bottom: 40px;
}
.gform_wrapper .work-history.field_description_below .gfield_description {
    padding-top: 0;
}

/*.custom-registration-btn {
    margin-left: 5px;
    font-size: 12px;
    width: 48%;
}*/

.gform_login_widget .gform_wrapper .gform_footer {
    padding: 16px 0 10px;
    margin: 16px 0 0;
    clear: both;
    width: 97%;
}
.custom-registration-links a{
    margin-bottom: 10px;
}
.login-page .custom-registration-links a:nth-child(odd) {
    margin-right: 0px;
    margin-bottom: 10px;
    font-size: 12px;
    width: 48%;
}

.login-page .custom-registration-links a:nth-child(even) {
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 12px;
    width: 48%;
}

.user-activation-btn a {
    display: block;
    margin-right: 10px;
}

/* =====================================================================
                            Employee Member area madul
======================================================================= */
.print-download {
    display: inline-block;
    margin: auto 20px;
}
.print-btn div {
    display: inline-block;
    vertical-align: middle;
}
.user-timesheet th,
.user-timesheet {
    text-align: center;
}

.edit-timesheet-btn {
    margin-right: 12px;
}

.delete-timedheet {
    margin-right: 5px;
    cursor: pointer;
}

.search-entries-wrapper {
    clear: both;
    margin: 15px 0;
}
.custom-btn-pdf{
    background-color: #ab2226;
    color: #fff !important;
    border-radius: 0;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 5px 20px;    
}
.custom-btn-pdf {
    box-shadow: 0 0 0 2px #ab2226;
    border: 1px solid #999996;
}
.print-download {
    cursor: pointer;
}
.custom-error {
    color: red;
}
.print-btn.hide-btn {
    display: none;
}
.print-btn.show-btn {
    display: block !important;
}
.downloal-individual-print-btn  .individual-hide-btn {
    display: none;
}
.downloal-individual-print-btn  .individual-show-btn {
    display: block !important;
}
.download-pdf {
    cursor: pointer;
}
.pdflogo {
    background-image: url(../img/pdficon.png);
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    background-size: 15px;
}
.pdf-total-amount div {
    display: inline-block;
}
.chefliastingeditor-download-btn,
.myarea-download-btn {
    display: none;
}
.myarea-download-btn.show-btn {
    display: block;
}

.chefliastingeditor-download-btn.show-btn {
    display: block;
}

.search-entries-wrapper {
    margin-bottom: 40px;
}

.hidedata{
    display: none;
}

.chefliastingcmd-print-btn div,
.mycmd-print-btn div {
    display: inline-block;
    vertical-align: middle;
    margin-top: 10px;
}

.blank-pdf-btn {
    margin: 0 10px;
}

.custom-label {
    display: block;
}

button.btn.custom-btn-pdf.search_entries {
    padding: 5px 20px;
}

.button-wrapper .blank-pdf-btn {
    padding: 5px 20px;
    margin: 0 15px 0 60px;
}

.search-entries-wrapper .form-group {
    margin-bottom: 0;
}

#gform_4 .step-border-none {
    border-bottom: none;
}

#gform_4 li.step2-spacing {
    margin-bottom: 0;
    margin-top: 35px !important;
}

#gform_4 li.step1-spacing {
    margin-bottom: 0;
}

.added-roster-display {
    border-bottom: 1px solid #CCC;
    padding-bottom: 40px;
    border-top: 1px solid #CCC;
}

.added-roster-display .section-title {
    margin-bottom: 30px;
}

.roster-details {
    padding: 0 15px 15px 15px;
}

.employee-roster-wrapper {
    position: relative;
}

.employee-roster-wrapper {
    position: relative;
    background-color: #ab2226;
    color: #fff;
    margin-bottom: 15px;
}

.employee-roster-wrapper .corner-top-left {
    background: linear-gradient(-44deg, transparent 50%, #fff 50%);
}

.employee-roster-wrapper .corner-top-right {
   background: linear-gradient(46deg, transparent 50%, #fff 50%);
}

.employee-roster-wrapper .corner-bottom-left {
   background: linear-gradient(-134deg, transparent 50%, #fff 50%);
}

.employee-roster-wrapper .corner-bottom-right {
   background: linear-gradient(136deg, transparent 50%, #fff 50%);
}

.employee-roster-wrapper .corner-top-right::after, 
.employee-roster-wrapper .corner-top-left::after, 
.employee-roster-wrapper .corner-bottom-right::after, 
.employee-roster-wrapper .corner-bottom-left::after {
    background: #ab2226;
}

.documents-section {
    border-bottom: 1px solid #ccc;
    margin-bottom: 40px;
}

.documents-section .section-title {
    margin-bottom: 40px;
}

h5.sample-text {
    padding: 15px 0;
}

.page-template-template-edit-timedheet-page .myarea-page-links {
    margin-bottom: 40px;
}

.search-entries-wrapper .section-step-title {
    margin-bottom: 40px;
}

.section-step-title h3.gsection_title {
    font-weight: 700;
    font-size: 1.25em;
}

.button-description-wrapper {
    margin-top: 20px !important;
}

#gform_wrapper_4.gform_wrapper .gform_footer {
    padding: 0 0 10px;
    margin: 0 0 0;
    clear: both;
    width: 100%;
}

.search-entries-wrapper .section-title {
    margin-bottom: 40px;
}

.hide-location {
    display: none;
}

/* ==============================================================
                            Employee My area
=================================================================*/
.corner-top-right.delete-roster {
    right: 20px;
    background: none;
    width: 20px;
    height: 20px;
    cursor: pointer;
    z-index: 9;
    text-align: center;
}
.corner-top-right.delete-roster:after {
    display: none;
}

/* ==============================================================
                            Recruiter My area
=================================================================*/
.chef-section-title {
    margin-bottom: 30px;
}

.content-list {
    margin: 0;
}

/* Display Hide btn */
.collapsed .openbtn {
    display: none;
}
.closebtn {
    display: none;
}
.collapsed .closebtn {
    display: inline-block;
}

.seeking-listing .panel-title a.hideclose {
    display: inline-block;
    text-decoration: none;
    width: 35px;
    height: 35px;
    line-height: 130px;
    float: right;
}
.seeking-listing .badge {
    padding: 10px;
    border-radius: 0;
    font-size: 20px;
}
.chef-details {
    line-height: 35px;
}
.seeking-listing .panel-title a{
    display: inline-block;
    text-decoration: none;
    line-height: 0;
}
.list-bg {
    background: none;
    color: #555;
}
.rosters-add-function {
    font-size: 18px;
    font-weight: 600;
}
.edit-staff-member a {
    color: #fff;
    font-size: 11px;
}
.delete-staff-member {
    cursor: pointer;
    border: 1px solid #777;
    padding: 3px 5px;
}
.edit-staff-member {
    border: 1px solid #777;
    padding: 3px 5px;
}
.delete-staff-member:hover i {
    color: #ab2226;
}
.delete-staff-member:hover {
    background: #fff;
    border:1px solid #ab2226;
}
/* Add Roster */
.addnew-field, .addnew-field .ginput_container.ginput_container_radio {
    margin-top: 0 !important;
}
.addnew-field, .addnew-field .ginput_container.ginput_container_radio {
    margin-top: 0 !important;
}
.addnew-field .gfield_label {
    display: none !important;
}
.addnew-field ul li {
    display: inline-block !important;
    margin-right: 15px !important;
}
.addnew-field ul li label {
    margin: 5px 0 0 4px !important;
}
/* Roster */
.roster-edit-wrapper{
    display: none;
}
.roster-print-btn div {
    display: inline-block;
}
.roster-print-btn {
    display: inline-block;
    padding: 10px 10px;
}
.roster-print-btn {
    display: inline-block;
    padding: 8px 15px;
    box-shadow: 0 0 0 2px #ab2226;
    border: 1px solid #999996;
    margin: 10px 10px;
}

.gf_browser_unknown,
.gf_browser_ie{
     display: block !important;
}

/*----------- Filter Option ---------- */
.recruiter-filter-option-inner {
    display: inline-block;
    padding: 0 10px 0 0;
}

.edit-roster {
    border: 1px solid #777;
    padding: 3px 5px;
}
.edit-roster a {
    color: #fff;
    font-size: 11px;
}
.delete-roster-data:hover {
    background: #fff;
    border: 1px solid #ab2226;
}
.delete-roster-data:hover i {
    color: #ab2226;
}
.delete-roster-data {
    cursor: pointer;
    border: 1px solid #777;
    padding: 3px 5px;
}
.update-form-btn {
    margin-top: 20px;
}
/* ==============================================================
                            Shortcode
=================================================================*/
    .chef-listing-title {
        width: 210px;
        float: left;
        clear: both;
    }
    .panel-title a {
        display: block;
        text-decoration: none;
        line-height: 105px;
    }
    .custom-filter-option .form-control {
        width: auto;
    }
    .custom-filter-option-inner {
        display: inline-block;
        padding: 0 10px 0 0;
    }
    .se-pre-con {

        width: auto;
        height: 300px;
        z-index: 9999;
        background: url(../img/preloader.gif) center no-repeat #fff;
    }
    .listing-wrapper {
        margin-top: 40px;
    }
    .staff-listing-outer {
        clear: both;
        padding-bottom: 5px;
    }

/* ==============================================================
                            Message box
=================================================================*/
.extradata, .extradata-dyanamic {
    padding-top: 10px;
    display: none;
}

.show-less-btn,
.show-less-btn-dyanamic {
    cursor: pointer;
}

.single-employee-body {
    margin-bottom: 40px;
}

.manage-employee-single-roster .roster-details .row .roster-timeing {
    padding-bottom: 5px;
}

/* ==============================================================
							Message box
=================================================================*/
body #fep-result {
    z-index: 99;
}

.user-timesheet-list.list-group {
    margin: 0;
}

.user-timesheet-list-wrapper {
    margin-top: 30px;
}

.user-timesheet-list li.list-group-item {
    margin-bottom: 10px;
}

.download_link, .download_date {
    display: inline-block;
}

.download_date {
    float: right;
}

/* *************************************************************************************************************
                                                    Media Query
                                                ===================== 
*************************************************************************************************************** */
/* Large desktops and laptops */
@media (min-width: 1200px) {
    .logo-bar {
        display: flex;
        padding: 20px 0 10px 0;
    }
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .menu-container .navbar .menu-item a {
        padding: 13px 14px;
        font-size: 13px;
    }
    header .menu-login-link {
        padding: 6px 0;
        text-align: center;
    }
}

/* ============================================== Menu Responsive ============================================= */


/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
    .menu-container .navbar .menu-item a {
       padding: 13px 15px;
      font-size: 13px;
    }
    .container {
      width: 708px;
    }
    .menu-container .navbar .menu-item a {
      padding: 10px 12px;
      font-size: 10px;
    }
    .slider-section .soliloquy-container .soliloquy-caption-inside {
      font-size: 34px;
    }
    .slider-section .soliloquy-container .soliloquy-caption {
      left: 24%;
    }
    .home-featured-title h2 {
      min-height: 51px;
    }
    .home-featured-description {
      min-height: 180px;
    }
    .testimonial-quote p {
        font-size: 22px;
    }
    .testimonial-author-job-title {
      font-size: 16px;
    }
    .home-blog-post-thumb img {
      height: auto;
    }
    .footer-widget-section p {
      font-size: 9px;
    }
    .menu-login-link {
      text-align: center;
    }
    .login-page .custom-registration-links a:nth-child(odd) {
      margin-right: 6px;
      margin-bottom: 10px;
      font-size: 12px;
      width: 48%;
    }
    /* Recruiter Section */
    button.btn.custom-btn-pdf.editstaffmember {
      padding: 5px 10px;
    }
    body ul.gfield_checkbox li input[type=checkbox], 
    body .gform_wrapper ul.gfield_radio li input[type=radio] {
      width: 25px !important;
    }
    /* Employee Module */
    .button-wrapper .blank-pdf-btn {
      padding: 5px 15px;
      margin: 0 0px 0 10px;
    }
    .custom-btn {
      font-size: 12px;
    }
    .custom-btn-pdf {
      font-size: 12px;
    }
    button.btn.custom-btn-pdf.search_entries {
      padding: 5px 10px;
    }
    .header .menu-login-link {
        padding: 6px 0;
        text-align: center;
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 768px) {
    .navbar-collapse.collapse {
        display: inline-block!important;
    } 
   .menu-login-link {
      padding: 6px 0;
      text-align: right;
   }
}

@media (max-width: 767px) {
    .menu-login-link {
        padding: 10px 15px;
        text-align: initial;
    }
    .header .container .row {
        position: relative;
    }
    .menu-login-link {
        padding: 5px 15px;
        text-align: initial;
        position: absolute;
        top: 0;
    }
    .social-links {
        text-align: center;
        padding: 40px 0 25px 0;
    }
    .phone-number {
        padding: 25px 0;
        text-align: center;
    }
    .menu-login-link {
        padding: 10px 15px;
        text-align: center;
        position: relative;
    }
    .custom-btn {
        padding: 5px 5px;
        width: 100%;
    }
}

@media (max-width: 640px) {

}

/* Landscape phones and smaller */
@media (max-width: 480px) {

}
@media (max-width: 320px) {

}